@charset "UTF-8";
body {
   background-image: url("/werewolf/img/village(night).png"); /* 画像 */
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
}
